<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Solarus</string>
	<key>CFBundleGetInfoString</key>
	<string>Solarus Version 1.0, Copyright 2013, solarus_run-team.</string>
	<key>CFBundleIconFile</key>
	<string>Solarus.icns</string>
	<key>CFBundleIdentifier</key>
	<string>solarus_run-team.Solarus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Solarus Version 1.0</string>
	<key>CFBundleName</key>
	<string>Solarus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.adventure-games</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.6.0</string>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2013, solarus_run-team.</string>
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
